In [1]:
import numpy as np
import pandas as pd
import os
import random

In [3]:
random.seed(42)
rows = {}
rows['AB'] = [ random.randint(100,700)  for _ in range(500) ]
rows['H'] = [ random.randint(50,200) for _ in range(500) ]
rows['2B'] = [ random.randint(0,50) for _ in range(500) ]
rows['3B'] = [ random.randint(0,20) for _ in range(500) ]
rows['HR'] = [ random.randint(0,60) for _ in range(500) ]
rows['RBI'] = [ random.randint(0,150) for _ in range(500) ]
rows['SB'] = [ random.randint(1,45) for _ in range(500) ]
rows['BB'] = [ random.randint(1,150) for _ in range(500) ]
rows['SO'] = [ random.randint(1,200) for _ in range(500) ]
rows['HBP'] = [ random.randint(0,30) for _ in range(500) ]
rows['SF'] = [ random.randint(0,15) for _ in range(500) ]
dataset = pd.DataFrame(rows)
dataset['BA'] = dataset['H'] / dataset['AB']
dataset['OBP'] = ( dataset['H'] + dataset['BB'] + dataset['HBP'] ) / ( dataset['AB'] + dataset['BB'] + dataset['HBP'] + dataset['SF'] )
dataset['SLG'] = ( dataset['H'] + 2 * dataset['2B'] + 3 * dataset['3B'] + 4 * dataset['HR']                  ) / dataset['AB']
dataset['OPS'] = dataset['OBP'] + dataset['SLG']
dataset.drop(dataset[dataset['OPS'] >= 2].index, inplace=True) # drop outliers

In [4]:
dataset.head()

,AB,H,2B,3B,HR,RBI,SB,BB,SO,HBP,SF,BA,OBP,SLG,OPS
0,214,51,2,18,8,12,12,34,76,30,7,0.238318,0.403509,0.658879,1.062387
2,381,158,4,16,4,57,29,19,82,28,12,0.414698,0.465909,0.603675,1.069584
3,350,106,15,9,28,59,36,59,67,10,10,0.302857,0.407925,0.785714,1.193640
4,328,95,40,1,11,13,36,99,27,24,9,0.289634,0.473913,0.676829,1.150742
7,658,62,14,19,28,84,7,27,44,6,4,0.094225,0.136691,0.393617,0.530308

In [5]:
dataset.describe()

,AB,H,2B,3B,HR,RBI,SB,BB,SO,HBP,SF,BA,OBP,SLG,OPS
count,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000
mean,460.406824,123.664042,24.498688,10.070866,28.732283,73.832021,23.965879,69.519685,99.257218,15.687664,7.414698,0.292088,0.396466,0.749848,1.146314
std,141.430101,43.287685,14.664785,6.037402,16.556339,43.364467,13.021092,42.999299,56.736250,8.919203,4.571789,0.129780,0.130821,0.274892,0.375331
min,165.000000,50.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.077941,0.111876,0.182515,0.381984
25%,348.000000,86.000000,12.000000,5.000000,15.000000,36.000000,12.000000,32.000000,50.000000,8.000000,4.000000,0.197227,0.301325,0.536741,0.860631
50%,457.000000,122.000000,23.000000,10.000000,29.000000,75.000000,25.000000,64.000000,100.000000,16.000000,7.000000,0.274744,0.385965,0.729393,1.106447
75%,579.000000,162.000000,38.000000,15.000000,43.000000,109.000000,36.000000,105.000000,150.000000,23.000000,11.000000,0.364964,0.488000,0.932000,1.413901
max,698.000000,200.000000,50.000000,20.000000,60.000000,150.000000,45.000000,150.000000,200.000000,30.000000,15.000000,0.817021,0.840764,1.467532,1.999791

In [6]:
type(dataset.describe())

pandas.core.frame.DataFrame

In [7]:
import tqdm

ModuleNotFoundError: No module named 'tqdm'